<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{gdata.lang_h1}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment color="danger" value=1 (ionChange)="segmentChanged($event)">
    <ion-segment-button layout="icon-start" value=1>
      <ion-icon name="person-add-sharp"></ion-icon>
      <ion-label>{{gdata.lang_c5}}</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value=2>
      <ion-icon name="skull-sharp"></ion-icon>
      <ion-label>{{gdata.lang_c3}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf=segment_change>
    <ion-label>
      <h2>{{gdata.lang_up}} {{s_update}} 11:59pm</h2>
    </ion-label>
    <ion-item *ngFor="let state of eachstate; let i=index;">
      <ion-thumbnail slot="start">
          <img src="../../assets/stateflag/{{state[1]}}.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{state[1]}}</h2>
        <h3>+ {{state[2]}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!segment_change">
    <ion-label>
      <h2>{{gdata.lang_up}} {{sdead_update}} 11:59pm</h2>
    </ion-label>
    <ion-item *ngFor="let dstate of each_deadstate; let i=index;">
      <ion-thumbnail slot="start">
          <img src="../../assets/stateflag/{{dstate[1]}}.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{dstate[1]}}</h2>
        <h3>+ {{dstate[2]}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
