<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      State Case
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <h2>Update on {{s_update}} 11:59pm</h2>
  </ion-label>

  <ion-list *ngFor="let state of eachstate; let i=index;">
    <ion-item>
      <ion-thumbnail slot="start">
          <img src="../../assets/stateflag/{{state[1]}}.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>{{state[1]}}</h2>
        <h3>+ {{state[3]}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
