<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
        <img src="../../assets/moh.png">
    </ion-thumbnail>
    <ion-title>
      COVIDNOW
    </ion-title>
    <ion-chip slot="end" color="primary" (click)="lang_selector()">
      <ion-label>{{gdata.lang_sel}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >{{gdata.lang_up}} {{totalcase[0]}} 11:59pm</ion-card-subtitle>
      <ion-card-title>{{gdata.lang_t1}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item  color="warning">
          <ion-icon name="person-add-sharp" size="large" slot="start"></ion-icon>
          <ion-label>{{gdata.lang_c1}}</ion-label>
          <ion-label>&nbsp;&nbsp;&nbsp;{{totalcase[1]}}</ion-label>
        </ion-item>

        <ion-item  color="success">
          <ion-icon name="happy-sharp" size="large" slot="start"></ion-icon>
          <ion-label>{{gdata.lang_c2}}</ion-label>
          <ion-label>&nbsp;&nbsp;&nbsp;{{totalcase[3]}}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle >{{gdata.lang_up}} {{deadcase[0]}} 11:59pm</ion-card-subtitle>
      <ion-card-title>{{gdata.lang_t3}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item  color="dark">
        <ion-icon name="skull-sharp" size="large" slot="start"></ion-icon>
        <ion-label>{{gdata.lang_c3_1}}</ion-label>
        <ion-label>&nbsp;&nbsp;&nbsp;{{deadcase[1]}}</ion-label>
      </ion-item>
        <ion-item  color="danger">
          <ion-icon name="bed-sharp" size="large" slot="start"></ion-icon>
          <ion-label>{{gdata.lang_c3_2}}</ion-label>
        <ion-label>&nbsp;&nbsp;&nbsp;{{deadcase[3]}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{gdata.lang_up}} {{testcon[0]}}</ion-card-subtitle>
      <ion-card-title>{{gdata.lang_t2}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item  color="primary">
        <ion-icon name="flask-sharp" size="large" slot="start"></ion-icon>
        <ion-label>{{gdata.lang_c4}}</ion-label>
        <ion-label>&nbsp;&nbsp;&nbsp;{{ttestcon}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
