<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
        <img src="../../assets/moh.png">
    </ion-thumbnail>
    <ion-title>
      COVIDNOW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle >Update on {{totalcase[0]}} 11:59pm</ion-card-subtitle>
    <ion-card-title>Latest Covid Case</ion-card-title>
  </ion-card-header>
    <ion-card-content>
        <ion-item  color="warning">
          <ion-icon name="person-add-sharp" size="large" slot="start"></ion-icon>
          <ion-label>New Case</ion-label>
          <ion-label>{{totalcase[1]}}</ion-label>
        </ion-item>

        <ion-item  color="success">
          <ion-icon name="happy-sharp" size="large" slot="start"></ion-icon>
          <ion-label>Recovery</ion-label>
          <ion-label>{{totalcase[3]}}</ion-label>
        </ion-item>

        <ion-item  color="danger">
          <ion-icon name="skull-sharp" size="large" slot="start"></ion-icon>
          <ion-label>Death</ion-label>
          <ion-label>{{deadcase[1]}}</ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Update on {{testcon[0]}}</ion-card-subtitle>
      <ion-card-title>Test Conducted</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item  color="primary">
        <ion-icon name="flask-sharp" size="large" slot="start"></ion-icon>
        <ion-label>Tested</ion-label>
        <ion-label>{{ttestcon}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
